* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background-color: blue;
  text-align: center;
  padding: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  justify-content: center;
  margin: auto;
}

.cont{
	
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: white;
  color: black;
}
.column {
  float: left;
  width: 100%;
  padding: 10px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
  display: grid;
  grid-template-columns: 1fr;
  }
}
.footer {
  display: grid;
  place-items: center;
  background-color: blue;
}
.footer a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.footer a:hover {
  background-color: white;
  color: black;
}
.image {
  height: 100px;
  width: 100px;
}
